<%- include('../partials/header') %>

<div class="container my-5">
  <h2 class="text-danger">Provide Feedback</h2>
  <form action="/user/feedback" method="POST">
    <div class="mb-3">
      <label for="planId" class="form-label text-white">Plan ID</label>
      <input type="text" class="form-control" name="planId" id="planId" required>
    </div>
    <div class="mb-3">
      <label for="feedback" class="form-label text-white">Feedback</label>
      <textarea class="form-control" name="feedback" id="feedback" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-danger">Submit Feedback</button>
  </form>
</div>

<%- include('../partials/footer') %>
