<%- include('../partials/header') %>

<main>
  <section class="py-5">
    <div class="container">
      <h1 class="text-center text-danger mb-5">Gallery</h1>
      <p class="text-light">Check out our gallery of fitness events and member achievements...</p>
    </div>
  </section>
</main>

<%- include('../partials/footer') %>